body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

#Imagen-Fondo {
    width: 100%;
    height: 100vh;
    background-image: url('Imagenes/Mujer.Androide.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;    
}

h6{
    padding: 15px 30px;    
    border-radius: 10px;
    color: rgb(255, 255, 255);
    box-shadow: 0 0px 10px rgb(255, 0, 0);
}
#Menu, #Juego {
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 auto;   
}
.Contenedor-Juego {
    box-shadow: 0 0px 100px rgb(255, 255, 255);
    border: 2px solid #fff;
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.text-with-border {
    box-shadow: 0 0px 25px rgb(255, 0, 0);
    padding: 15px 30px;    
    border-radius: 10px;
    font-size: 40px;
    color: rgb(255, 0, 0);
    text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;  
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #e6e6e6;
    box-shadow: 0 0px 25px rgb(255, 255, 255);
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    border: 5px solid red;   
}

#Juego-Canvas {
    border: 1px solid #fff;
    background-color: #ff0000;
}